<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>

    <script src="https://kit.fontawesome.com/ba5854dd19.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/public/style/login.css" />

  </head>

  <body>

    <main>

      <section class="loginbox">

        <h1>Enter email</h1>

        <div class="email">
          <h4>Email</h4>
          <input type="email">
        </div>

        <div class="error hide">
          <p>Invalid Email</p>
        </div>

        <button>Next <i class="fa-solid fa-arrow-right"></i></button>

      </section>

    </main>

    <script src="/public/script/forget.js" type="module"></script>

  </body>

</html>
