<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="../style/common.css">
<body>
  <header></header>
  <main>
    <section>
      <div>
        <p>Question Type</p>
        <select name="" id="type">
          <option value="Logical">Logical</option>
          <option value="Verbal">Verbal</option>
          <option value="Aptitude">Aptitude</option>
        </select>
      </div>
      <div>
        <p>Question</p>
        <input id="Question" type="text">
      </div>
      <div>
        <p>Option1</p>
        <input id="Option1" type="text">
      </div>
      <div>
        <p>Option2</p>
        <input id="Option2" type="text">
      </div>
      <div>
        <p>Option3</p>
        <input id="Option3" type="text">
      </div>
      <div>
        <p>Option4</p>
        <input id="Option4" type="text">
      </div>
      <div>
        <p>Answer</p>
        <input id="Answer" type="text">
      </div>
    </section>
    <button id="submitbutton">Submit</button>
  </main>
  <footer></footer>
  <script src="../script/newtest.js" type="module"></script>
</body>
</html>